# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Cardano Node, Ogmios, Kupo services data
data/
.direnv
utils.log
.env