# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

# Latex aux files
technical-spec/**/*.aux
technical-spec/**/*.fdb_latexmk
technical-spec/**/*.fls
technical-spec/**/*.lof
technical-spec/**/*.log
technical-spec/**/*.out
technical-spec/**/*.pdf
technical-spec/**/*.synctex.gz
technical-spec/**/*.toc

.direnv
