AWS_PLATFORM_REGION=us-west-1
AWS_TF_STATE_BUCKET=sndl-sundial-node-tf-state
AWS_TF_LOCK_TABLE=sndl-sundial-node-tf-locks
AWS_ECR_SUNDIAL_NODE_REPOSITORY=sundial/sundial-node

RDS_MASTER_PASSWORD=replace_me
GRAFANA_ADMIN_PASSWORD=replace_me

L1_PROVIDER=Blockfrost
L1_BLOCKFROST_API_URL=https://cardano-mainnet.blockfrost.io/api/v0
L1_BLOCKFROST_KEY=replace_me
L1_OGMIOS_KEY=unused-for-blockfrost
L1_KUPO_KEY=unused-for-blockfrost
L1_OPERATOR_SEED_PHRASE=replace_me
L1_OPERATOR_SEED_PHRASE_FOR_BLOCK_COMMITMENT=replace_me
L1_OPERATOR_SEED_PHRASE_FOR_MERGE_TX=replace_me

TESTNET_GENESIS_WALLET_SEED_PHRASE_A=replace_me
TESTNET_GENESIS_WALLET_SEED_PHRASE_B=replace_me
TESTNET_GENESIS_WALLET_SEED_PHRASE_C=replace_me
